.add-container {
  display: flex;
  justify-content: center;
}


.add-coin-detail {
  position: relative;
  top: -10px;
  text-align: left;
  width: 300px;
}
.add-coin-detail a {
  color: #2e45b7;
  text-decoration: none;
  font-weight: 900;
}

.add-coin-detail-image {
    position: absolute;
    float: left;
    left: -75px;
    top: 75px;

}
.add-icon {
  max-width: 55px;
}

.add-form {
  text-align: right;
}
