.add-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.add-coin-detail {
  position: relative;
  top: -10px;
  text-align: left;
  width: 300px;
}
.add-coin-detail a {
  color: #2e45b7;
  text-decoration: none;
  font-weight: 900;
}

.add-coin-detail-image {
    position: absolute;
    float: left;
    left: -75px;
    top: 75px;

}
.add-icon {
  max-width: 55px;
}

.add-form {
  text-align: right;
}

@media only screen
and (max-width : 550px) {
  .add-coin-detail {
    text-align: center;
  }

  .add-coin-detail-image {
    left: -15px;
    top: 50px;
  }

  .add-form {
    font-size: 18px;
    margin-right: 10px;
  }
  .add-button {
    text-align: center;
  }
}
