body {
  font-size: 20px;
}

.App {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #b1b1b1;
}

button, input[type=submit] {
  width: 90px;
  height: 30px;
  color: #ffffff;
  background: #2e45b7;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

button:hover, input[type=submit]:hover {
  background: #4e61bb;
}

select {
  font-size: 20px;
}
