body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;

}

.App {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-family: 'Archivo Black', sans-serif;
  color: #2d2b2b;
  text-transform: uppercase;
}

button, input[type=submit] {
  width: 90px;
  height: 30px;
  color: #ffffff;
  background: #2e45b7;
  font-size: 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

button:hover, input[type=submit]:hover {
  background: #4e61bb;
}

select {
  font-size: 20px;
}

.loading-spinner {
  max-width: 120px;
}
