.coins-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 0 auto;
    justify-content: center;
    text-align: left;
}

.crypto-icon {
  max-width: 55px;
  position: relative;
  top: 100px;
  left: -75px;
}

.coin-detail {
  padding-left: 75px;
}
