.coins-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 0 auto;
    justify-content: center;
    text-align: left;
}

.crypto-icon {
  max-width: 55px;
  position: relative;
  top: 125px;
  left: -70px;
}

.coin-detail {
  padding-left: 70px;
  margin: 10px;
  width: 230px;
}

.coin-detail a {
  color: #2e45b7;
  text-decoration: none;
  font-weight: 900;
}
