.coins-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    justify-content: center;
    text-align: left;
    position: relative;
}

.coins-container.loading {
  top: 0px;
}

.crypto-icon {
  max-width: 55px;
}

.icon-container {
  position: relative;
  left: -15px;
}

.data-container {

}

.coin-detail {
  display: flex;
  margin: 10px;
  width: 290px;
  align-items: center;
  justify-content: center;
}

.coin-detail a {
  color: #2e45b7;
  text-decoration: none;
  font-weight: 900;
}

.dashboard-logo {
  width: 60%;
  max-width: 700px;
  margin: 20px;
  align-self: center
}

.header-container {
  background: url('https://s3.amazonaws.com/cryptfolio-cdn/header-bg.jpg');
  background-position: center;
  background-size: cover;
  height: 350px;
  z-index: 1;
  box-shadow: 0px 2px 2px #7d7d7d;
  display: flex;
  justify-content: center
}

.detail-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
