.edit-input {
  font-size: 20px;
  height: 30px;
  font-family: Helvetica;
}

.edit-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-modal-form {
  text-align: right;
}

.edit-modal-buttons {
  text-align: center;
}
