nav {
	background: #2e45b7;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 20px;
	z-index: 9;
	box-shadow: 0px 1px 10px black;
	position: relative;
	font-family: 'Helvetica', sans-serif;
	font-weight: 900;
}
nav .nav-logo {
	max-width: 50px;
	margin-top: 3px;
	margin-right: 15px;
}

nav h1 {
	margin: 0;
}

nav a.nav-link {
	color: white;
	display: inline-block;
	padding: 20px;
	font-size: 1.2em;
	text-decoration: none;
}

nav a.nav-link:hover {
	background: rgba(255, 255, 255,.8);
  color: #2e45b7;
}

nav li {
	list-style: none;
}

nav .push-left {
	margin-right: auto;
}

nav .push-right {
	margin-left: auto;
}

nav .nav-avatar {
	position: relative;
	float: right;
	margin-left: 3px;
}

nav .nav-avatar img {
	max-width: 50px;
	border-radius: 50px;
	box-shadow: 0px 0px 3px white;
}

.login-logo {
	width: 150px;
}

.login-container {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login-form {
	text-align: center;
	font-size: 1.2em;
	font-weight: 900;
	font-family: 'Helvetica', sans-serif;
}

.login-input {
	width: 250px;
	font-size: 20px;
	height: 30px;
}

.ReactModal__Overlay {
  background-color: rebeccapurple;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 1;
	transition: opacity 200ms ease-in-out;
}
