.positions {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.position-detail {
  width: 275px;
  margin: 15px;
}

.position-detail a {
  color: #2e45b7;
  text-decoration: none;
  font-weight: 900;
}

.user-avatar {
  max-width: 50px;
  border-radius: 50px;
}

button {
  width: 75px;
  height: 25px;
  color: #ffffff;
  background: #2e45b7;
  font-size: 15px;
  margin: 10px;
}
