.positions-container {
  max-width: 80%;
  margin: 0 auto;
}

.positions {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.position-detail {
  width: 275px;
  margin: 15px;
}

.position-detail a {
  color: #2e45b7;
  text-decoration: none;
  font-weight: 900;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  .positions-container {
    max-width: 95%;
  }
}
