.positions {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.position-detail {
  width: 275px;
  margin: 15px;
}

.position-detail a {
  color: #2e45b7;
  text-decoration: none;
  font-weight: 900;
}
